$app-font-size-12: 12px !default;
$app-font-size-13: 13px !default;
$app-font-size-14: 14px !default;
$app-font-size-15: 15px !default;
$app-font-size-16: 16px !default;
$app-font-size-18: 18px !default;
$app-font-size-20: 20px !default;
$app-font-size-22: 22px !default;

$app-font-bold: 600;
$app-font-semibold: 500;

.font-22 {
  font-size: $app-font-size-22;
}

.font-bold {
  font-weight: $app-font-bold;
}

.font-semibold {
  font-weight: $app-font-semibold;
}
